@import "tailwindcss";

@theme {
  /* Aquí solo defines variables si quieres personalizar tu tema */
  --font-inter: "Inter", sans-serif;
  --color-custom-gray: #F0F4F7;
}

/* Los estilos globales van FUERA del bloque @theme */
body {
  margin: 0;
  background-color: #F0F4F7;
  font-family: 'Inter', sans-serif;
}